.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Lobster', cursive;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  color:white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  color:white;
  height:60px;
}

.header h1{
  color: white;
  text-decoration: underline black;

}

.featured-foods{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-recipes {
  display: flex;
  flex-direction: column;
}

.chef-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header button i{
height:100px;
width: 100px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  margin-top: 40px;
  padding: 40px 0 40px 0;
  background: rgba(43, 43, 43, 0.1)
}

.footer-item-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer-connect-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer-item-container nav {
  display: flex;
  flex-direction: column;
}

.footer-connect-container nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-item-container nav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 0;
}

.footer-connect-container nav a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
}

.footer-item-container h3 {
  font-weight: bold;
  font-size: 30px;
}

.footer-connect-container h3 {
  font-weight: bold;
  font-size: 30px;
}