.featured-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    border: 1px solid yellow;
    width: 80%;
    height: 200px;
}

.featured-content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.new-foods-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 30px;
    border: 1px solid green;
    width: 90%;
}

.new-foods-content{
    display: flex;
    width: 80%;
    height: 200px;
    justify-content: center;
    align-items: center;
}