.about-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    width: 80%;
    height: 700px;
}

.about-container h1{
    font-size: 80px;
}

.about-container h2 {
    font-size: 40px;
}

.about-container p {
    font-size: 30px;
    width: 50%;
}

.portfolio h2{
    font-size: 30px;
}

.portfolio{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.portfolio p{
    width: 60%;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
}

.team-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    width: 80%;
    height: 1100px;
}

.team-container h1{
    font-size: 80px;
}

.teammate {
    display: flex;
    flex-direction: row;

}

.chef-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.chef-contact-container h1{
    font-size: 100px;
}

.chef-contact-container h2{
    font-size: 40px;
}

.chef-contact-container .twitter a{
    text-decoration: none;
    color: cyan;
    margin-left: 10px;
}

.chef-contact-container .instagram a{
    text-decoration: none;
    color: purple;
    margin-left: 10px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.contact-container h1 {
    font-size: 100px;
}

.contact-info {
    display: flex;
    flex-direction: column;

}

.contact-info .github{
    color: rgb(121, 115, 115);
}

.contact-info .linkedin{
    color: rgb(58, 55, 238);
}

.contact-info .twitter{
    color: cyan;
}

.contact-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-info a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 40px;
    padding: 10px 0;
}

.teammate-info {
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
}

.teammate-info h2 {
    font-size: 60px;
}



